<style>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kavivanar|Open+Sans');
</style>
/* Eric Meyer CSS Reset begins*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Eric Meyer CSS Reset ends */

body{
  background-color: #98cce5;
}
.mainDiv{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    line-height: 30px;
}

p, h2, header{
  margin-bottom: 20px;
}

strong{
  font-weight: bold;
}

h1{
  font-family: 'Kavivanar', cursive;
  color: #000000;
  font-size: 100px;
  background-image: url(sky.jpg);
  text-align: center;
  line-height: 460px;
}

h2{
  font-family:'Kavivanar', cursive;
  font-size: 45px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

ul{
  font-family: 'open sans';
  list-style-type: disc;
  color: #8f2bff;
  margin-left: 30px;
  font-size: 24px;
  text-align: center;
}

blockquote{
  font-family: 'open sans'
  font-size: 40px;
  color: #8f2bff;
  text-align: center;

}

#byline{
  font-family: "Open Sans";
  color: #00000;
}

.text{
  font-family: "Open Sans";
  color: #000000;
  font-size: 24px;
}

img{
  border: solid;
  border-color: #000000;
  border-width: 10px;
  width: 295px;
  height: 400px;
}
